@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #2e2c35;
    overflow-x: hidden;
    font-family: 'Poppins';
}

::selection{
    background-color: #0096ff;
    color: #fff;
}

::-webkit-scrollbar{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: #0074e8;
   border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #37acff;
}

nav{
    z-index: 1000;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
}

nav h1{
    margin-top: 15px;
    margin-left: 25px;
    font-size: 25px;
    color: #e0e0e0;
}

nav .links{
    transform: translateX(-100%);
    position: absolute;
    left: 100%;
    top: 0%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;
    padding-right: 45px;
    font-size: 20px;
}

nav a{
    text-decoration: none;
    transition: all 100ms ease;
    color: #919191;
}

nav a:hover{
    color: #fff;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#home h1{
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    margin-top: 280px;
    color: #fff;
    font-size: 100px;
    cursor: default;
}

#home .laptop{
    margin-top: 300px;
    margin-right: 450px;
    -webkit-user-drag: none;
}

#home .personOnComputer{
    margin-left: 100px;
    margin-bottom: 250px;
    -webkit-user-drag: none;
}

#about{
    scroll-margin-top: 32px;
    margin-top: 100px;
    width: 1200px;
    height: 680px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
}

#about .cube{
    overflow: hidden;
    background-color: #505050;
    border-radius: 10px;
}

#about .C2{
    grid-column: span 2;
}

#about .R2{
    grid-row: span 2;
}

#about .cube .text{
    margin-left: 10px;
    margin-top: 5px;
    color: #a9a9a9;
}

#about .cube .icons{
    margin-top: 5px;
    width: 100%;
    height: 570px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

#about img{
    -webkit-user-drag: none;
}

#about .icons img{
    width: 180px;
    height: 180px;
}

#about .icons .img1{
    width: 170px;
    height: 170px;
    margin-left: 5px;
    margin-top: 5px;
}

#about .icons .img2{
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-top: 10px;
}

#about .icons .img3{
    width: 140px;
    height: 140px;
    margin-left: 25px;
    margin-top: 10px;
}

#about .personOnComputer2{
    width: 100%;
    height: 100%;
}

#about .cube .background-img{
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    width: 70%;
    height: 100%;
}

#about .cube h3{
    font-size: 23px;
    color: #a9a9a9;
    margin-left: 10px;
    margin-top: 17px;
}

#about .cube h3 span{
    color: #fff;
}

#about .cube .link{
    position: relative;
    left: 2.5%;
    margin-top: 10px;
    width: 95%;
    height: 60px;
    border-radius: 10px;
    background-color: #373739;
    cursor: pointer;
    transition: all 100ms ease;
    overflow: hidden;
    color: #a0a0a0;
}

#about .cube .link:hover i{
    color: #fff;
}

#about .cube .link:hover h2{
    color: #fff;
}

#about .cube .link i{
    width: 60px;
    height: 100px;
    position: relative;
    left: 5px;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding-bottom: 25px;
}

#about .cube .link h2{
    font-size: 22px;
    font-weight: 500;
    position: relative;
    bottom: 90px;
    left: 65px;
    margin-top: 5px;
}

#about .cube .contact{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 35px;
    color: #b1b1b1;
}

#projects{
    margin-top: 100px;
    width: 1200px;
    height: 680px;
    gap: 12px;
    background-color: #505050;
    border-radius: 10px;
}

#projects .types{
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 5px;
    gap: 5px;
}

#projects .types .type{
    border-radius: 8px;
    background-color: #383838;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #a3a3a3;
    cursor: pointer;
}

#projects .types .selected-type{
    background-color: #006eff;
    color: #fff;
}

#projects .types .type:hover{
    color: #006eff;
    border: 3px solid #006eff;
}

#projects .types .selected-type:hover{
    color: #fff;
    border: none;
}

#projects .project{
    width: 900px;
    height: 545px;
    background-color: #006eff;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    bottom: 45px;
    border-radius: 15px;
    cursor: pointer;
}

#projects .bxs-left-arrow{
    position: relative;
    left: 5%;
    top: 38%;
    font-size: 50px;
    border-radius: 50%;
    background-color: #006eff;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    padding-right: 5px;
    cursor: pointer;
    color: #fff;
}

#projects .bxs-right-arrow{
    position: relative;
    left: 89%;
    top: -52.5%;
    font-size: 50px;
    border-radius: 50%;
    background-color: #006eff;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    padding-right: 0px;
    cursor: pointer;
    color: #fff;
    transition: all 100ms ease;
}

#projects .bxs-left-arrow:hover, #projects .bxs-right-arrow:hover{
    background-color: #002fff;
}

#contact{
    scroll-margin-top: 32px;
    margin-top: 100px;
    width: 1200px;
    height: 680px;
    background-color: #505050;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 15px solid #0073ff;
}

#contact h1{
    position: absolute;
    margin-bottom: 420px;
    color: #0073ff;
    font-size: 40px;
}

#contact form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

#contact input{
    width: 100%;
    height: 60px;
    outline: none;
    border: none;
    font-size: 24px;
    color: #006eff;
    border-bottom: 3px solid #006eff;
    background-color: transparent;
}

#contact input::placeholder{
    color: #1c7eff;
}

#contact button{
    width: 30%;
    height: 60px;
    border: none;
    background-color: transparent;
    border: 2px solid #006eff;
    color: #006eff;
    font-size: 25px;
    cursor: pointer;
    transition: all 100ms ease;
}

#contact button:hover{
    background-color: #006eff;
    color: #fff;
}


footer{
    position: absolute;
    left: 0%;
    width: 100%;
    height: 90px;
    background-color: #141414;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 160px;
}

footer h2{
    margin-left: 30px;
}